.layout {
  background-color: #0d0d0d;
  color: #f5f5f5;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}

.banner {
  background: linear-gradient(135deg, #222, #333);
  color: #eee;
  padding: 1rem 2rem;
  margin: 0.5rem auto;
  border-radius: 12px;
  width: 70%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
